.login{
/*            height: 100%;
    width: 100%;
    position: relative;
    background:url('/static/img/bg.jpg') no-repeat center ;
    -webkit-background-size: cover;
    background-size: cover;*/
}
.continer{
    position: absolute;
/*    top: 0;
    left: 0;
    overflow: hidden;*/
    height: 100%;
    width: 100%;
    font-family: "Microsoft Yahei";
    position: absolute;
    background:url('/static/img/bg.jpg') no-repeat center ;
    -webkit-background-size: cover;
    background-size: cover;
}
.continer #particles-js {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}
.continer .bg1{
/*    height: 1080px;
    width: 1920px;*/
    /* height: 100%;
    width: 100%;
    position: absolute;
    background:url('/static/img/bg1.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: cover; */
}
.continer .bg2{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.continer .bg2 .bg2-1{
/*    height: 1080px;
    width: 1920px;*/
    /* height: 100%;
    width: 100%;
    position: absolute;
    background:url('/static/img/bg2.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed; */
/*    -webkit-animation: 10s rowup linear infinite normal;
    animation: 10s rowup linear infinite normal;*/

}
/* .continer .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background:url('/static/img/bg.jpg') no-repeat center ;
    -webkit-background-size: cover;
    background-size: cover;
} */

.continer .loginContiner{
    height: 420px;;
    width: 400px;
    position: relative;
    z-index: 1;
    background-color: #0000004a;
    top: 25%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 30px;
}
/* .loginContiner .logo{
    height: 69px;
    width: 168px;
    position: relative;
    background:url('/static/img/logo.png') no-repeat;
    background-size: 168px 69px;
    margin: 0 auto;
} */
.loginContiner .loginTitle{
    font-size:30px;
    line-height:60px;
    color:#fff;
    margin: 0 auto;
    position: relative;
}
.loginContiner .shuru{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    height: 56px;
    width: 329px;
    background:url('/static/img/shurukuang.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.shuru .icon{
    height: 19px;
    width: 19px;
    background:url('/static/img/yonghuming.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 19px;
}
.shuru .username{
     background:url('/static/img/yonghuming.png') no-repeat;
}
.shuru .password{
     background:url('/static/img/mima.png') no-repeat;
}
.shuru input {
    height: 37px;
    width: 265px;
    float: left;
    background-color: transparent;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5px;
    border-width: 0px;
    outline: none;
    color: white;
}
.shuru .msg{
    font-size: 10px;
    color: #e42929;
    top: 5px;
    left: 40px;
    position: relative;
    height: 10px;
    float: left;
}
.loginContiner .submit{
    height: 45px;
    width: 323px;
    position: relative;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    background: -webkit-linear-gradient(#6ea0e5, #1e4bbc);
    background: -o-linear-gradient(#6ea0e5, #1e4bbc);
    background: linear-gradient(#6ea0e5, #1e4bbc);
    color: white;
    font-size: 16px;
}
.submit:hover{
    /*background: -webkit-linear-gradient(#1e429d, #5080c3);*/
    opacity: 0.8; 
}
.loginContiner .checkBox{
    height: 50px;
    width: 323px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.checkBox input[type="checkbox"]{
    /* width: 40px; */
    /* height: 40px; */
    /* -webkit-border-radius: 50%; */
    display: none;
}
input[type="checkbox"]+label {
    display: inline-block;
    text-align: left;
    -webkit-box-sizing: border-box;
}
input::-webkit-input-placeholder{
    color: #aaa;opacity:1;
}
label::before {
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    background:url('/static/img/xuanze.png') no-repeat;
}
input[type="checkbox"]:checked+label::before{
    background:url('/static/img/checked.png') no-repeat;
}
.checkBox .CheckBoxIcon{
    height: 18px;
    width: 18px;
}
@keyframes rowup {
    0% {
        transform-origin:10% 10%;
        transform: rotateX(0deg);
    }
    100% {
        transform-origin:10% 10%;
        transform: rotateX(45deg);
    }
}
@keyframes moveup{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}